{{>licenseInfo}}
/* tslint:disable:no-unused-variable member-ordering */

import { Observable } from "rxjs/Observable";
import { map, toPromise } from "rxjs";
import { inject, injectable } from "inversify";

import {
    HttpResponse,
    Headers,
    IHttpClient,
    {{#imports}}
    {{classname}}, 
    {{/imports}}
} from 'api-models';

import {
{{#operations}}
    {{#operation}}
        {{nickname}},
    {{/operation}}
{{/operations}}
} from '../base/api'

{{#withInterfaces}}
import { {{classname}}Interface }  from './{{classname}}Interface';


{{/withInterfaces}}

{{#operations}}

{{#description}}
/**
 * {{&description}}
 */
{{/description}}

@injectable()
{{#withInterfaces}}
export class Store{{classname}} implements {{classname}}Interface {
{{/withInterfaces}}
{{^withInterfaces}}
export class Store{{classname}} {
{{/withInterfaces}}

    constructor(@inject("Store") private store: Store<any>) {}
{{#operation}}

    /**
     * {{summary}}
     * {{notes}}
     */
    public async store_{{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}} headers?: Headers): Promise<{{#returnType}}{{{returnType}}}{{#isResponseTypeFile}}|undefined{{/isResponseTypeFile}}{{/returnType}}{{^returnType}}any{{/returnType}}>
    {
        const response = await {{nickname}}({{#allParams}}{{paramName}},{{/allParams}}'body', headers);
        // TODO: Implement {{nickname}}
        // addResponsetoStore(this.store, response.data, true, true);
        return response;
    }

{{/operation}}}
{{/operations}}
