import {interfaces} from "inversify";

{{#apiInfo}}
{{#apis}}
import { {{classname}} } from './{{importPath}}';
{{#withInterfaces}}
import { {{classname}}Interface }  from './{{importPath}}Interface';
{{/withInterfaces}}
{{/apis}}
{{/apiInfo}}

export class StoreApiServiceBinder {
        {{#apiInfo}}
        {{#apis}}
    public static withStore{{classname}}(container: interfaces.Container) {
        container.bind<Store{{classname}}{{#withInterfaces}}Interface{{/withInterfaces}}>("{{classname}}").to({{classname}}).inSingletonScope();
    }
        {{/apis}}
        {{/apiInfo}}
}
