import {interfaces} from "inversify";

{{#apiInfo}}
{{#apis}}
import { Store{{classname}} } from './{{importPath}}';
{{/apis}}
{{/apiInfo}}

export class StoreApiServiceBinder {
        {{#apiInfo}}
        {{#apis}}
    public static withStore{{classname}}(container: interfaces.Container) {
        container.bind<Store{{classname}}{{#withInterfaces}}Interface{{/withInterfaces}}>("Store{{classname}}").to(Store{{classname}}).inSingletonScope();
    }
        {{/apis}}
        {{/apiInfo}}
}
